{% extends 'base.html.twig' %}

{% block body %}
    <h1> Password generator</h1>
    
    <footer>
        <p>
            Built with &hearts; by <a href="#">Fredmoye</a>.
        </p>
    </footer>
{% endblock %}